<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">Update Password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <div th:if="${error}">
                        <span th:text="${error}" style="color: red">
                            <br>
                        </span>
                    </div>
                    <form th:action="@{/user/updatePassword}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Old password:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="old">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">New Password:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="new">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Confirm New Password:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="confirmation">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>